In [8]:
import pandas as pd

In [9]:
country_codes = pd.read_csv('./data/country_codes.csv')
country_codes.head()

             team code         country
0     Afghanistan  AFG     Afghanistan
1         Albania  ALB         Albania
2         Algeria  ALG         Algeria
3  American Samoa  ASA  American Samoa
4         Andorra  AND         Andorra

## Getting FIFA Confederations and appending to each team(country)

In [10]:
rankings = pd.read_csv('./data/fifa_rankings.csv')
rankings.head()

,rank,country_abrv,total_points,previous_points,rank_change,confederation,rank_date,team
0,1,GER,57.0,0.0,0,UEFA,1992-12-31,Germany
1,96,SYR,11.0,0.0,0,AFC,1992-12-31,Syria
2,97,BFA,11.0,0.0,0,CAF,1992-12-31,Burkina Faso
3,99,LVA,10.0,0.0,0,UEFA,1992-12-31,Latvia
4,100,BDI,10.0,0.0,0,CAF,1992-12-31,Burundi

In [11]:
fifa_teams = country_codes.merge(rankings[['team','confederation']], how='left', on='team').drop_duplicates(subset='team',keep='first')
fifa_teams

                 team code         country confederation
0         Afghanistan  AFG     Afghanistan           AFC
219           Albania  ALB         Albania          UEFA
541           Algeria  ALG         Algeria           CAF
863    American Samoa  ASA  American Samoa           OFC
1068          Andorra  AND         Andorra          UEFA
...               ...  ...             ...           ...
62290         Vietnam  VIE         Vietnam           AFC
62611           Wales  WAL  United Kingdom          UEFA
62933           Yemen  YEM           Yemen           AFC
63255          Zambia  ZAM          Zambia           CAF
63577        Zimbabwe  ZIM        Zimbabwe           CAF

[211 rows x 4 columns]

In [7]:
# send to csv
fifa_teams.to_csv('./data/fifa_teams.csv', index=False)