In [18]:
import pandas as pd

In [19]:
matches = pd.read_csv('./data/matches.csv')
federations = pd.read_csv('./data/federations.csv')
rankings = pd.read_csv('./data/fifa_rankings.csv')

In [20]:
matches

,match_id,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,2,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,3,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,4,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,5,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...,...
44159,44160,2022-11-21,Senegal,Netherlands,0.0,2.0,FIFA World Cup,Doha,Qatar,True
44160,44161,2022-11-21,England,Iran,6.0,2.0,FIFA World Cup,Al Rayyan,Qatar,True
44161,44162,2022-11-21,United States,Wales,1.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True
44162,44163,2022-11-22,Argentina,Saudi Arabia,1.0,2.0,FIFA World Cup,Lusail,Qatar,True
44163,44165,2022-11-22,Denmark,Tunisia,0.0,0.0,FIFA World Cup,Al Rayyan,Qatar,True

In [21]:
federations

,code,name,founded,FIFA_affiliation,confederation_affiliation,regional,confederation,IOC_member
0,AUS,Australia,1961,1963.0,2006,AFF,AFC,True
1,BRU,Brunei Darussalam,1952,1972.0,1969,AFF,AFC,True
2,CAM,Cambodia,1933,1954.0,1954,AFF,AFC,True
3,LAO,Laos,1951,1952.0,1968,AFF,AFC,True
4,INA,Indonesia,1930,1952.0,1954,AFF,AFC,True
...,...,...,...,...,...,...,...,...
217,SWE,Sweden,1904,1904.0,1954,NaN,UEFA,True
218,SUI,Switzerland,1895,1904.0,1954,NaN,UEFA,True
219,TUR,Turkey,1923,1923.0,1962,NaN,UEFA,True
220,UKR,Ukraine,1991,1992.0,1992,NaN,UEFA,True
221,WAL,Wales,1876,1910.0,1954,NaN,UEFA,False

In [22]:
rankings

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,1,Germany,GER,57.00,0.00,0,UEFA,1992-12-31
1,96,Syria,SYR,11.00,0.00,0,AFC,1992-12-31
2,97,Burkina Faso,BFA,11.00,0.00,0,CAF,1992-12-31
3,99,Latvia,LVA,10.00,0.00,0,UEFA,1992-12-31
4,100,Burundi,BDI,10.00,0.00,0,CAF,1992-12-31
...,...,...,...,...,...,...,...,...
63911,74,El Salvador,SLV,1330.51,1333.48,3,CONCACAF,2022-10-06
63912,75,Oman,OMA,1320.29,1323.03,0,AFC,2022-10-06
63913,76,Israel,ISR,1316.55,1316.35,0,UEFA,2022-10-06
63914,78,Georgia,GEO,1307.34,1296.46,-4,UEFA,2022-10-06
63915,211,San Marino,SMR,762.22,763.82,0,UEFA,2022-10-06

In [63]:
# Now check to see which countries remain in matches that are not part of fifa


# first see which countries are in matches but not in federations
countries_in_matches_not_in_federations = list(set(matches['home_team'].unique()) - set(federations['name'].unique()))

# Create series with all countries in matches and the number of matches
countries_list_matches_new = matches['home_team'].value_counts()

# Then filter the  list of matches using the countries that are in matches but not in federation
print((countries_list_matches_new.loc[countries_in_matches_not_in_federations]).sort_values(ascending=False).head(30))

# This way we see how we should reformat the countries from confederations

Czechoslovakia      231
Yugoslavia          190
German DR           132
Vietnam Republic     49
Jersey               48
Catalonia            39
Guernsey             37
Basque Country       33
Greenland            30
Ynys MÃ´n             29
Brunei               28
Padania              28
Ã…land Islands        27
Isle of Wight        26
Shetland             22
Isle of Man          22
Northern Cyprus      22
Gotland              20
SÃ¡pmi                18
Abkhazia             18
Saare County         15
Iraqi Kurdistan      13
Orkney               12
Andalusia            12
FrÃ¸ya                12
Barawa               11
Western Isles        11
Rhodes               11
Menorca              11
Falkland Islands     11
Name: home_team, dtype: int64

In [24]:
# Now check to see which countries remain in rankings that are not part of fifa


# first see which countries are in matches but not in federations
countries_in_rankings_not_in_federations = list(set(rankings['country_full'].unique()) - set(federations['name'].unique()))

# Create series with all countries in matches and the number of matches
countries_list_rankings = rankings['country_full'].value_counts()

# Then filter the  list of matches using the countries that are in matches but not in federation
print((countries_list_rankings.loc[countries_in_rankings_not_in_federations]).sort_values(ascending=False))

# This way we see how we should reformat the countries from confederations

Yugoslavia              102
Netherlands Antilles     44
Czechoslovakia            6
Name: country_full, dtype: int64

In [25]:
countries_in_rankings_not_in_federations

['Netherlands Antilles', 'Czechoslovakia', 'Yugoslavia']

In [26]:
rankings_current_fifa = rankings[~rankings['country_full'].isin(countries_in_rankings_not_in_federations)]

In [27]:
rankings_current_fifa

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,1,Germany,GER,57.00,0.00,0,UEFA,1992-12-31
1,96,Syria,SYR,11.00,0.00,0,AFC,1992-12-31
2,97,Burkina Faso,BFA,11.00,0.00,0,CAF,1992-12-31
3,99,Latvia,LVA,10.00,0.00,0,UEFA,1992-12-31
4,100,Burundi,BDI,10.00,0.00,0,CAF,1992-12-31
...,...,...,...,...,...,...,...,...
63911,74,El Salvador,SLV,1330.51,1333.48,3,CONCACAF,2022-10-06
63912,75,Oman,OMA,1320.29,1323.03,0,AFC,2022-10-06
63913,76,Israel,ISR,1316.55,1316.35,0,UEFA,2022-10-06
63914,78,Georgia,GEO,1307.34,1296.46,-4,UEFA,2022-10-06
63915,211,San Marino,SMR,762.22,763.82,0,UEFA,2022-10-06

In [49]:
countries_fifa_not_in_rankings_test = list(set(federations['name'].unique()) - set(rankings_current_fifa['country_full'].unique()))
countries_fifa_not_in_rankings_test

['Zanzibar',
 'Tuvalu',
 'Sint Maarten',
 'French Guiana',
 'Guadeloupe',
 'Bonaire',
 'RÃ©union',
 'Northern Mariana Islands',
 'Kiribati',
 'Martinique',
 'Saint Martin']

In [50]:
federations_current_fifa = federations[~federations['name'].isin(countries_fifa_not_in_rankings_test)]

In [51]:
federations_current_fifa

,code,name,founded,FIFA_affiliation,confederation_affiliation,regional,confederation,IOC_member
0,AUS,Australia,1961,1963.0,2006,AFF,AFC,True
1,BRU,Brunei Darussalam,1952,1972.0,1969,AFF,AFC,True
2,CAM,Cambodia,1933,1954.0,1954,AFF,AFC,True
3,LAO,Laos,1951,1952.0,1968,AFF,AFC,True
4,INA,Indonesia,1930,1952.0,1954,AFF,AFC,True
...,...,...,...,...,...,...,...,...
217,SWE,Sweden,1904,1904.0,1954,NaN,UEFA,True
218,SUI,Switzerland,1895,1904.0,1954,NaN,UEFA,True
219,TUR,Turkey,1923,1923.0,1962,NaN,UEFA,True
220,UKR,Ukraine,1991,1992.0,1992,NaN,UEFA,True
221,WAL,Wales,1876,1910.0,1954,NaN,UEFA,False

In [61]:
countries_fifa_not_in_rankings_test2 = list(set(federations_current_fifa['name'].unique()) - set(rankings_current_fifa['country_full'].unique()))
countries_fifa_not_in_rankings_test2

[]

In [62]:
countries_fifa_not_in_rankings_test3 = list(set(rankings_current_fifa['country_full'].unique()) - set(federations_current_fifa['name'].unique()) )
countries_fifa_not_in_rankings_test3

[]

In [33]:
# Now check to see which countries remain in rankings that are not part of fifa


# first see which countries are in matches but not in federations
countries_in_matches_not_in_federations = list(set(matches['home_team'].unique()) - set(federations['name'].unique()))

# Create series with all countries in matches and the number of matches
countries_list_matches = matches['home_team'].value_counts()

# Then filter the  list of matches using the countries that are in matches but not in federation
print((countries_list_matches.loc[countries_in_matches_not_in_federations]).sort_values(ascending=False))

# This way we see how we should reformat the countries from confederations

Czechoslovakia               231
Yugoslavia                   190
German DR                    132
Vietnam Republic              49
Jersey                        48
                            ...
Saint Pierre and Miquelon      1
Kabylia                        1
Central Spain                  1
Aymara                         1
Sark                           1
Name: home_team, Length: 89, dtype: int64

In [37]:
print(countries_in_matches_not_in_federations)

['Sark', 'Brunei', 'Yoruba Nation', 'Alderney', 'Chameria', 'Tamil Eelam', 'Gotland', 'KÃ¡rpÃ¡talja', 'Isle of Wight', 'FrÃ¸ya', 'Mayotte', 'Silesia', 'Madrid', 'Canary Islands', 'Kernow', 'Western Armenia', 'Saint Pierre and Miquelon', 'Guernsey', 'German DR', 'Darfur', 'North Vietnam', 'Padania', 'County of Nice', 'Yorkshire', 'Aymara', 'Tibet', 'Arameans Suryoye', 'Panjab', 'Mapuche', 'Falkland Islands', 'Northern Cyprus', 'Niue', 'Hitra', 'GÄƒgÄƒuzia', 'Czechoslovakia', 'United Koreans in Japan', 'South Ossetia', 'Occitania', 'Orkney', 'Micronesia', 'Barawa', 'Ellan Vannin', 'Rhodes', 'Chagos Islands', 'Brittany', 'Ynys MÃ´n', 'Central Spain', 'Andalusia', 'Saare County', 'Gozo', 'Yugoslavia', 'SzÃ©kely Land', 'Kabylia', 'Jersey', 'Saint Helena', 'Greenland', 'Menorca', 'Artsakh', 'Republic of St. Pauli', 'Shetland', 'Saarland', 'Romani people', 'Cascadia', 'Western Sahara', 'Abkhazia', 'Vatican City', 'Vietnam Republic', 'Palau', 'Ã…land Islands', 'Provence', 'Somaliland', 'SÃ¡pmi', 'Basque Country', 'Iraqi Kurdistan', 'Corsica', 'Parishes of Jersey', 'Monaco', 'Manchukuo', 'Matabeleland', 'Raetia', 'Western Australia', 'Biafra', 'Western Isles', 'Yemen DPR', 'FelvidÃ©k', 'Isle of Man', 'Wallis Islands and Futuna', 'Galicia', 'Catalonia']

In [38]:
matches_current_fifa = matches[~matches['home_team'].isin(countries_in_matches_not_in_federations)]

In [39]:
matches_current_fifa

,match_id,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,2,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,3,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,4,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,5,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...,...
44159,44160,2022-11-21,Senegal,Netherlands,0.0,2.0,FIFA World Cup,Doha,Qatar,True
44160,44161,2022-11-21,England,Iran,6.0,2.0,FIFA World Cup,Al Rayyan,Qatar,True
44161,44162,2022-11-21,United States,Wales,1.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True
44162,44163,2022-11-22,Argentina,Saudi Arabia,1.0,2.0,FIFA World Cup,Lusail,Qatar,True
44163,44165,2022-11-22,Denmark,Tunisia,0.0,0.0,FIFA World Cup,Al Rayyan,Qatar,True

In [40]:
matches_current_fifa2 = matches_current_fifa[~matches_current_fifa['away_team'].isin(countries_in_matches_not_in_federations)]

In [41]:
matches_current_fifa2

,match_id,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,2,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,3,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,4,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,5,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...,...
44159,44160,2022-11-21,Senegal,Netherlands,0.0,2.0,FIFA World Cup,Doha,Qatar,True
44160,44161,2022-11-21,England,Iran,6.0,2.0,FIFA World Cup,Al Rayyan,Qatar,True
44161,44162,2022-11-21,United States,Wales,1.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True
44162,44163,2022-11-22,Argentina,Saudi Arabia,1.0,2.0,FIFA World Cup,Lusail,Qatar,True
44163,44165,2022-11-22,Denmark,Tunisia,0.0,0.0,FIFA World Cup,Al Rayyan,Qatar,True

In [43]:
matches_current_fifa3 = matches_current_fifa2[~matches_current_fifa2['country'].isin(countries_in_matches_not_in_federations)]

In [44]:
matches_current_fifa3

,match_id,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,2,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,3,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,4,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,5,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...,...
44159,44160,2022-11-21,Senegal,Netherlands,0.0,2.0,FIFA World Cup,Doha,Qatar,True
44160,44161,2022-11-21,England,Iran,6.0,2.0,FIFA World Cup,Al Rayyan,Qatar,True
44161,44162,2022-11-21,United States,Wales,1.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True
44162,44163,2022-11-22,Argentina,Saudi Arabia,1.0,2.0,FIFA World Cup,Lusail,Qatar,True
44163,44165,2022-11-22,Denmark,Tunisia,0.0,0.0,FIFA World Cup,Al Rayyan,Qatar,True

In [59]:
list(set(federations_current_fifa['name'].unique()) - set(matches_current_fifa3['home_team'].unique()))

['Brunei Darussalam']

In [56]:
list(set(matches_current_fifa3['home_team'].unique()) - set(federations_current_fifa['name'].unique()))

['Zanzibar',
 'Tuvalu',
 'Sint Maarten',
 'French Guiana',
 'Guadeloupe',
 'Bonaire',
 'RÃ©union',
 'Northern Mariana Islands',
 'Kiribati',
 'Martinique',
 'Saint Martin']

In [48]:
federations_current_fifa

,code,name,founded,FIFA_affiliation,confederation_affiliation,regional,confederation,IOC_member
0,AUS,Australia,1961,1963.0,2006,AFF,AFC,True
1,BRU,Brunei Darussalam,1952,1972.0,1969,AFF,AFC,True
2,CAM,Cambodia,1933,1954.0,1954,AFF,AFC,True
3,LAO,Laos,1951,1952.0,1968,AFF,AFC,True
4,INA,Indonesia,1930,1952.0,1954,AFF,AFC,True
...,...,...,...,...,...,...,...,...
217,SWE,Sweden,1904,1904.0,1954,NaN,UEFA,True
218,SUI,Switzerland,1895,1904.0,1954,NaN,UEFA,True
219,TUR,Turkey,1923,1923.0,1962,NaN,UEFA,True
220,UKR,Ukraine,1991,1992.0,1992,NaN,UEFA,True
221,WAL,Wales,1876,1910.0,1954,NaN,UEFA,False