In [7]:
import pandas as pd

In [8]:
country_codes = pd.read_csv('./data/country_codes.csv')
rankings = pd.read_csv('./data/fifa_rankings.csv')
matches = pd.read_csv('./data/matches.csv')

In [9]:
matches

,match_id,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,2,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,3,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,4,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,5,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...,...
44159,44160,2022-11-21,Senegal,Netherlands,0.0,2.0,FIFA World Cup,Doha,Qatar,True
44160,44161,2022-11-21,England,Iran,6.0,2.0,FIFA World Cup,Al Rayyan,Qatar,True
44161,44162,2022-11-21,United States,Wales,1.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True
44162,44163,2022-11-22,Argentina,Saudi Arabia,1.0,2.0,FIFA World Cup,Lusail,Qatar,True
44163,44164,2022-11-22,Denmark,Tunisia,0.0,0.0,FIFA World Cup,Al Rayyan,Qatar,True

In [10]:
rankings['rank_date'].iloc[0]

'1992-12-31'

In [11]:
matches_trimmed = matches.copy()

In [12]:
# Trim matches
matches_trimmed.drop(matches_trimmed[matches_trimmed['date'] <= rankings['rank_date'].iloc[0]].index, inplace = True)
matches_trimmed

,match_id,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
17697,17698,1993-01-01,Ghana,Mali,1.0,1.0,Friendly,Libreville,Gabon,True
17698,17699,1993-01-02,Gabon,Burkina Faso,1.0,1.0,Friendly,Libreville,Gabon,False
17699,17700,1993-01-02,Kuwait,Lebanon,2.0,0.0,Friendly,Kuwait City,Kuwait,False
17700,17701,1993-01-03,Burkina Faso,Mali,1.0,0.0,Friendly,Libreville,Gabon,True
17701,17702,1993-01-03,Gabon,Ghana,2.0,3.0,Friendly,Libreville,Gabon,False
...,...,...,...,...,...,...,...,...,...,...
44159,44160,2022-11-21,Senegal,Netherlands,0.0,2.0,FIFA World Cup,Doha,Qatar,True
44160,44161,2022-11-21,England,Iran,6.0,2.0,FIFA World Cup,Al Rayyan,Qatar,True
44161,44162,2022-11-21,United States,Wales,1.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True
44162,44163,2022-11-22,Argentina,Saudi Arabia,1.0,2.0,FIFA World Cup,Lusail,Qatar,True
44163,44164,2022-11-22,Denmark,Tunisia,0.0,0.0,FIFA World Cup,Al Rayyan,Qatar,True

In [13]:
# Countries in Rankings but NOT in Matches


# first see which countries are in rankings but not in matches
countries_in_rankings_not_in_matches = list(set(rankings['country_full'].unique()) - set(matches_trimmed['home_team'].unique()))

# Create series with all countries in matches and the number of matches
countries_list_matches = rankings['country_full'].value_counts()

# Then filter the  list of matches using the countries that are in matches but not in federation
print((countries_list_matches.loc[countries_in_rankings_not_in_matches]).sort_values(ascending=False))

# This way we see how we should reformat the countries from confederations

IR Iran                  322
Korea Republic           322
Congo DR                 322
USA                      322
St. Lucia                322
Brunei Darussalam        322
Korea DPR                322
CÃ´te d'Ivoire            322
Kyrgyz Republic          307
St. Kitts and Nevis      305
Chinese Taipei           291
US Virgin Islands        243
Yugoslavia               102
Netherlands Antilles      44
Serbia and Montenegro     43
Czechoslovakia             6
Name: country_full, dtype: int64

In [15]:
print(list(set(matches_trimmed['home_team'].unique()) - set(rankings['country_full'].unique())))

['Gotland', 'Ellan Vannin', 'Darfur', 'Chagos Islands', 'Saare County', 'Ynys MÃ´n', 'Ã…land Islands', 'Kiribati', 'United Koreans in Japan', 'Silesia', 'Western Armenia', 'FelvidÃ©k', 'Chameria', 'Northern Cyprus', 'RÃ©union', 'DR Congo', 'Gozo', 'Canary Islands', 'Monaco', 'Guadeloupe', 'Kabylia', 'Madrid', 'Basque Country', 'Republic of St. Pauli', 'Tamil Eelam', 'Abkhazia', 'Andalusia', 'Rhodes', 'Saint Lucia', 'Orkney', 'Saint Helena', 'Matabeleland', 'Raetia', 'Brittany', 'Barawa', 'Shetland', 'Guernsey', 'Kernow', 'Taiwan', 'Isle of Wight', 'South Ossetia', 'South Korea', 'Cascadia', 'Saint Kitts and Nevis', 'Saint Martin', 'KÃ¡rpÃ¡talja', 'United States Virgin Islands', 'Mayotte', 'Galicia', 'Iraqi Kurdistan', 'Padania', 'Somaliland', 'Bonaire', 'Iran', 'Greenland', 'Corsica', 'Martinique', 'FrÃ¸ya', 'Saint Pierre and Miquelon', 'County of Nice', 'Northern Mariana Islands', 'Vatican City', 'Catalonia', 'Tibet', 'Kyrgyzstan', 'Parishes of Jersey', 'SÃ¡pmi', 'Ivory Coast', 'Provence', 'United States', 'Occitania', 'Western Sahara', 'Hitra', 'Zanzibar', 'Sark', 'Western Isles', 'Micronesia', 'Yorkshire', 'Brunei', 'Falkland Islands', 'French Guiana', 'Arameans Suryoye', 'GÄƒgÄƒuzia', 'Tuvalu', 'North Korea', 'Romani people', 'Mapuche', 'Aymara', 'Menorca', 'Isle of Man', 'Artsakh', 'Yoruba Nation', 'Palau', 'Biafra', 'Alderney', 'Jersey', 'SzÃ©kely Land', 'Panjab', 'Sint Maarten']

In [20]:
# Countries IN Matches but NOT IN Rankings


# first see which countries are in matches but not in rankings
countries_in_matches_not_in_rankings = list(set(matches_trimmed['home_team'].unique()) - set(rankings['country_full'].unique()))

# Create series with all countries in matches and the number of matches
countries_list = matches_trimmed['home_team'].value_counts()

# Then filter the list of matches using the countries that are in matches but not in rankings (first 25 with most matches)
print((countries_list.loc[countries_in_matches_not_in_rankings]).sort_values(ascending=False).head(25))

United States                   339
South Korea                     269
Iran                            202
Ivory Coast                     162
DR Congo                        127
Saint Kitts and Nevis            93
Martinique                       91
North Korea                      80
Guadeloupe                       71
Kyrgyzstan                       63
Saint Lucia                      63
French Guiana                    48
Jersey                           46
Guernsey                         37
Padania                          28
Zanzibar                         28
Greenland                        26
United States Virgin Islands     26
Ynys MÃ´n                         25
Isle of Wight                    24
Basque Country                   24
Catalonia                        23
Taiwan                           22
Isle of Man                      22
Brunei                           21
Name: home_team, dtype: int64

In [25]:
countries_list.loc[countries_list.index == 'Yugoslavia']

Series([], Name: home_team, dtype: int64)

In [ ]:
abvr[1].isnull()

country_abrv
AFG    True
AIA    True
ALB    True
ALG    True
AND    True
       ...
YEM    True
YUG    True
ZAI    True
ZAM    True
ZIM    True
Name: 1, Length: 217, dtype: bool

,0,1,2
country_abrv,,,
CPV,Cape Verde Islands,Cabo Verde,NaN
CUW,Curacao,CuraÃ§ao,NaN
MKD,FYR Macedonia,North Macedonia,NaN
STP,Sao Tome e Principe,SÃ£o TomÃ© e PrÃ­ncipe,SÃ£o TomÃ© and PrÃ­ncipe
SWZ,Eswatini,Swaziland,NaN
TUR,Turkey,TÃ¼rkiye,NaN
VIN,St. Vincent and the Grenadines,St. Vincent / Grenadines,NaN

In [ ]:
countries = rankings['confederation'].groupby(rankings['country_full']).unique().apply(pd.Series)

In [ ]:
rankings.loc[rankings['country_full']=='Eswatini']

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
15,104,Eswatini,SWZ,10.00,0.00,0,CAF,1992-12-31
153,102,Eswatini,SWZ,12.00,10.00,-2,CAF,1993-08-08
333,93,Eswatini,SWZ,16.00,12.00,-9,CAF,1993-09-23
536,92,Eswatini,SWZ,17.00,16.00,-1,CAF,1993-10-22
619,97,Eswatini,SWZ,14.00,17.00,5,CAF,1993-11-19
...,...,...,...,...,...,...,...,...
63058,147,Eswatini,SWZ,1054.14,1054.14,1,CAF,2022-02-10
63080,143,Eswatini,SWZ,1070.46,1054.14,-4,CAF,2022-03-31
63482,144,Eswatini,SWZ,1066.92,1070.46,1,CAF,2022-06-23
63504,144,Eswatini,SWZ,1070.89,1066.92,0,CAF,2022-08-25
63712,143,Eswatini,SWZ,1070.89,1070.89,-1,CAF,2022-10-06

In [ ]:
countries_to_be_replaced = ['Cabo Verde', 'Cape Verde Islands', 'China PR', 'Chinese Taipei', ]

In [ ]:
rankings['country_full'].value_counts()

Germany                  322
Thailand                 322
Madagascar               322
Italy                    322
Brazil                   322
                        ...
SÃ£o TomÃ© and PrÃ­ncipe     23
Cabo Verde                23
Czechoslovakia             6
TÃ¼rkiye                    2
SÃ£o TomÃ© e PrÃ­ncipe        1
Name: country_full, Length: 224, dtype: int64

In [ ]:
country = rankings.groupby('country_full')

In [ ]:
df2 = group.apply(lambda x: x['subreddit'].unique())

In [ ]:
countries = country.apply(lambda x: x['confederation'].unique())

In [ ]:
countries

country_full
Afghanistan        [AFC]
Albania           [UEFA]
Algeria            [CAF]
American Samoa     [OFC]
Andorra           [UEFA]
                   ...
Yemen              [AFC]
Yugoslavia        [UEFA]
Zaire              [CAF]
Zambia             [CAF]
Zimbabwe           [CAF]
Length: 224, dtype: object

In [ ]:
countries_confederations = pd.DataFrame(countries)

In [ ]:
countries_confederations

                     0
country_full
Afghanistan      [AFC]
Albania         [UEFA]
Algeria          [CAF]
American Samoa   [OFC]
Andorra         [UEFA]
...                ...
Yemen            [AFC]
Yugoslavia      [UEFA]
Zaire            [CAF]
Zambia           [CAF]
Zimbabwe         [CAF]

[224 rows x 1 columns]

In [ ]:
countries = countries.apply(pd.Series)

In [ ]:
countries

                   0
country_full
Afghanistan      AFC
Albania         UEFA
Algeria          CAF
American Samoa   OFC
Andorra         UEFA
...              ...
Yemen            AFC
Yugoslavia      UEFA
Zaire            CAF
Zambia           CAF
Zimbabwe         CAF

[224 rows x 1 columns]