In [5]:
import pandas as pd

In [6]:
matches = pd.read_csv('./data/fifa_matches.csv')
rankings = pd.read_csv('./data/fifa_rankings.csv')

In [7]:
matches

,match_id,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1,1993-01-01,Ghana,Mali,1.0,1.0,Friendly,Libreville,Gabon,True
1,2,1993-01-02,Gabon,Burkina Faso,1.0,1.0,Friendly,Libreville,Gabon,False
2,3,1993-01-02,Kuwait,Lebanon,2.0,0.0,Friendly,Kuwait City,Kuwait,False
3,4,1993-01-03,Burkina Faso,Mali,1.0,0.0,Friendly,Libreville,Gabon,True
4,5,1993-01-03,Gabon,Ghana,2.0,3.0,Friendly,Libreville,Gabon,False
...,...,...,...,...,...,...,...,...,...,...
25034,25035,2022-11-21,Senegal,Netherlands,0.0,2.0,FIFA World Cup,Doha,Qatar,True
25035,25036,2022-11-21,England,Iran,6.0,2.0,FIFA World Cup,Al Rayyan,Qatar,True
25036,25037,2022-11-21,United States,Wales,1.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True
25037,25038,2022-11-22,Argentina,Saudi Arabia,1.0,2.0,FIFA World Cup,Lusail,Qatar,True
25038,25039,2022-11-22,Denmark,Tunisia,0.0,0.0,FIFA World Cup,Al Rayyan,Qatar,True

In [8]:
rankings

,rank,country_abrv,total_points,previous_points,rank_change,confederation,rank_date,team
0,1,GER,57.00,0.00,0,UEFA,1992-12-31,Germany
1,96,SYR,11.00,0.00,0,AFC,1992-12-31,Syria
2,97,BFA,11.00,0.00,0,CAF,1992-12-31,Burkina Faso
3,99,LVA,10.00,0.00,0,UEFA,1992-12-31,Latvia
4,100,BDI,10.00,0.00,0,CAF,1992-12-31,Burundi
...,...,...,...,...,...,...,...,...
63894,74,SLV,1330.51,1333.48,3,CONCACAF,2022-10-06,El Salvador
63895,75,OMA,1320.29,1323.03,0,AFC,2022-10-06,Oman
63896,76,ISR,1316.55,1316.35,0,UEFA,2022-10-06,Israel
63897,78,GEO,1307.34,1296.46,-4,UEFA,2022-10-06,Georgia
63898,211,SMR,762.22,763.82,0,UEFA,2022-10-06,San Marino

In [21]:
rankings['rank_date'].iloc[0]

'1992-12-31'

In [20]:
matches['date'].iloc[-1]

'2022-11-22'

In [23]:
start_date = rankings['rank_date'].iloc[0]
end_date = matches['date'].iloc[-1]

In [29]:
dates = pd.DataFrame(pd.date_range(start_date,end_date,freq='d'), columns=['date'])

In [30]:
dates

            date
0     1992-12-31
1     1993-01-01
2     1993-01-02
3     1993-01-03
4     1993-01-04
...          ...
10914 2022-11-18
10915 2022-11-19
10916 2022-11-20
10917 2022-11-21
10918 2022-11-22

[10919 rows x 1 columns]

In [31]:
dates.to_csv('./data/calendar.csv', index=False)